@media screen and (max-width: 320px) {
    .text-logo {
        font-size: 2em;
    }

    .text {
        font-size: 0.85em;
    }

    .text-home {
        font-size: 0.8em;
    }

    .margin-home {
        margin-top: 0%;
    }
}

@media screen and (min-width: 621px ) {
    
    .margin-home {
        margin-top: 5%;
    }
    
    .icons {
        font-size: 50px;
    }
}

@media screen and (min-width: 993px) {
    .icons {
        font-size: 65px;
    }
}

