@media screen and (max-width: 320px) {

    .text {
        font-size: 0.85em;
    }

    .text-home {
        font-size: 0.8em;
    }

    .margin-home {
        margin-top: 0%;
    }

}

@media screen and (min-width: 421px) {
    .text-logo {
        font-size: 2.6em;
    }

    .borda{
        width:45%;
    }
}

@media screen and (min-width: 621px ) {
    
    .margin-home {
        margin-top: 5%;
    }
    
    .icons {
        font-size: 50px;
    }

    .text-logo {
        font-size: 3.5em;
    }

    .borda{
        width:50%;
    }

}

@media screen and (min-width: 993px) {
    .icons {
        font-size: 65px;
    }

    .text-logo {
        font-size: 4em;
    }

    .borda{
        width:60%;
    }
}

