@media screen and (max-width: 320px) {

    .text {
        font-size: 0.85em;
    }

    .text-home {
        font-size: 0.8em;
    }

}

@media screen and (min-width: 421px) {
    .text-logo {
        font-size: 2.6em;
    }

    .borda{
        width:45%;
    }
}

@media screen and (min-width: 621px ) {
    
    .icons {
        font-size: 45px;
    }

    .text-logo {
        font-size: 3.1em;
    }

    .borda{
        width:50%;
    }

}

@media screen and (min-width: 993px) {
    .icons {
        font-size: 55px;
    }

    .text-logo {
        font-size: 3.8em;
    }

    .borda{
        width:60%;
    }
}


