*{
    font-family: 'Roboto', sans-serif;
}

.bg-primary-color {
    background-color: #fff;
}

.bg-secondary-color {
    background-color: #CF3A19;
}

.bg-tertiary-color {
    background-color: #49B417;
}

html, body, main {
    height: 100%;
}

.bloco {
    min-height: 100%;
    padding-top: 90px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.coluna {
    display: flex;
    flex-direction: column;
}

.row {
    --bs-gutter-x: 0rem;  /*Tirando a barra de rolagem*/
}

/*NAVBAR*/
#navbar {
    border-bottom: 1px solid #7a7a7a;
    
}

#navbar a:hover {
    color: #050505;
    border-bottom: 1px solid #050505;
}

.navbar-brand { 
    display: flex;  /*Talvez remover*/
}

.navbar-brand span {
    font-weight: 700;
    font-size: 1,5em;
    margin-left: .5;
}

#navbar-items .navbar-nav {
    display: flex;
    justify-content: center;
    width: 100%;
}

#navbar-items .nav-item {
    margin: 0 1em;
}

/*HOME*/
.home {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    background-image: url("../img/teste1.png");
    background-size: cover;
    background-position: fixed;
}

.borda{
    display: flex;
    margin:auto;
    border-bottom: 1px solid #050505;
    width: 55%;
}

.text-home {
    text-align: center;
    font-weight: 600;
    font-size: 0.8em;
}

.text {
    font-family: 'Quattrocento', 'San-serif';
    font-weight: 400;
    font-size: 0.85em;
}

.margin-home {
    margin-top: 10%;
    margin-right: auto;
}

.icons {
    font-size: 30px;
}

.btn-home {
    font-weight: 800;
}

/*LOGO*/
.logo {
    border-radius: 50%;
    width: 25%;
    height: 25%;
}

.text-logo {
    font-family: 'Quattrocento', 'san-serif';
    text-align: center;
    font-weight: 400;
    font-size: 2em;   
    margin-bottom: -4px;
}

/*DESCRIÇÃO*/
.descricao {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.titulo-descricao {
    font-family: 'Quattrocento';
    font-weight: 700;
    font-size: 1.5em;
    text-align: center;
    margin-top: 20px;
}

.text-descricao {
    font-weight: 400;
    text-align: justify;
    font-size: 1em;
    line-height: 25px;
    margin: 20px 10px 20px 10px;
}

.destaque-descricao {
    font-weight: 300;
    text-align: justify;
    line-height: 20px;
    font-size: 0.7em;
    margin: 2% 10% 2% 10%;
}

.margin-descricao {
    margin: 5% 3% 5% 3%; 
}

/*FUNCIONALIDADES*/
.funcionalidades {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.titulo-funcionalidades {
    font-family: 'Quattrocento';
    font-weight: 700;
    font-size: 1.5em;
    text-align: center;
    margin-top: 20px;
}

.text-funcionalidades {
    text-align: justify;
    font-weight: 400;
    margin: 20px 10px 20px 10px;
}
