*{
    font-family: 'Roboto', sans-serif;
}

.bg-primary-color {
    background-color: #fff;
}

.bg-secondary-color {
    background-color: #CF3A19;
}

.bg-tertiary-color {
    background-color: #49B417;
}

html, body, main {
    height: 100%;
}

.bloco {
    min-height: 100%;
    padding-top: 90px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.coluna {
    display: flex;
    flex-direction: column;
}

.row {
    /*--bs-gutter-x: 0rem; Tirando a barra de rolagem*/
    margin-left: 0;
    margin-right: 0;
}

/*NAVBAR*/
#navbar {
    border-bottom: 1px solid #7a7a7a;
}

#navbar a:hover {
    color: #050505;
    border-bottom: 1px solid #050505;
}

.navbar-brand { 
    display: flex;  /*Talvez remover*/
}

.navbar-brand span {
    font-weight: 700;
    font-size: 1,5em;
    margin-left: .5;
}

#navbar-items .navbar-nav {
    display: flex;
    justify-content: center;
    width: 100%;
}

#navbar-items .nav-item {
    margin: 0 1em;
}

/*HOME*/
.home {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    background-image: url("../img/teste1.png");
    background-size: cover;
    background-position: fixed;
}

.borda{
    display: flex;
    margin:auto;
    border-bottom: 1px solid #050505;
    width: 55%;
}

.text-home {
    text-align: center;
    font-weight: 600;
    font-size: 0.8em;
}

.text {
    font-family: 'Quattrocento', 'San-serif';
    font-weight: 400;
    font-size: 0.85em;
}

.icons {
    font-size: 30px;
}

.btn-home {
    font-weight: 800;
    color: #050505;
}

/*LOGO*/
.logo {
    border-radius: 50%;
    width: 25%;
    height: 25%;
}

.text-logo {
    font-family: 'Quattrocento', 'san-serif';
    text-align: center;
    font-weight: 400;
    font-size: 2em;   
    margin-bottom: -4px;
}

/*DESCRIÇÃO*/
.descricao {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.titulo-descricao {
    font-family: 'Quattrocento';
    font-weight: 700;
    font-size: 1.5em;
    text-align: center;
    margin-top: 20px;
}

.text-descricao {
    font-weight: 400;
    text-align: justify;
    font-size: 1em;
    line-height: 25px;
    margin: 20px 10px 20px 10px;
}

.destaque-descricao {
    font-weight: 300;
    text-align: justify;
    line-height: 20px;
    font-size: 0.7em;
    margin: 2% 10% 2% 10%;
}

/*FUNCIONALIDADES*/
.funcionalidades {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.titulo-funcionalidades {
    font-family: 'Quattrocento';
    font-weight: 700;
    font-size: 1.5em;
    text-align: center;
    margin-top: 20px;
}

.text-funcionalidades {
    text-align: justify;
    font-weight: 400;
    margin: 20px 10px 20px 10px;
}

/*DIFERENCIAIS*/
.diferenciais {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.circle {
    border-radius: 50%;
    width: 35%;
    height: 35%;
}

.titulo-diferenciais {
    font-family: 'Quattrocento';
    font-weight: 700;
    font-size: 1.5em;
    text-align: center;
}

.text-diferenciais {
    font-weight: 400;
    text-align: justify;
    font-size: 1em;
    line-height: 25px;
}

/*AVALIAÇÕES*/
  .testimonial-slider {
    overflow: hidden;
    position: relative;
  }
  
  .testimonial-wrapper {
    display: flex;
    transition: transform 0.5s ease;
  }
  
  .testimonial-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 500px;
    margin-right: 16px;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
  }
  
  .slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
    cursor: pointer;
    color: #fff;
    border: none;
    outline: none;
    font-size: 24px;
    padding: 10px;
  }
  
  .slider-btn-left {
    left: 20px;
  }
  
  .slider-btn-right {
    right: 20px;
  }
  
  .slider-btn::before {
    content: "";
    display: inline-block;
    border: solid white;
    border-width: 0 3px 3px 0;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
  .slider-btn.next::before {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
  